<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="..{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body class=" ">
    <div class="grid justify-items-center">
        <div class="w-full max-w-screen-lg py-24 bg-gray-50">
       
            {% block content %} {% endblock %}
        </div>
    </div>
</body>

</html>